<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junhua.tornesol.architecture.miaosha.db.mapper.UserDealMapper">

    <select id="selectCount" resultType="java.lang.Integer">
    select buy_count from tb_miaosha_user_deal where
     user_id = #{userId}
     and deal_id =#{dealId}
    </select>

    <insert id="insert" parameterType="com.junhua.tornesol.architecture.miaosha.db.model.UserDealDO">
        insert into tb_miaosha_user_deal (user_id,deal_id,buy_count)
        values (#{userDeal.userId},#{userDeal.dealId},#{userDeal.buyCount})
        on duplicate key update
        user_id = values(user_id),
        deal_id = values(deal_id),
        buy_count = values(buy_count)
    </insert>

    <select id="getCountSum" resultType="java.lang.Integer">
        select sum(buy_count) from tb_miaosha_user_deal where deal_id = #{dealId}
    </select>

</mapper>