<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ximalaya.webgroup.tdkservice.core.db.mybatis.mapper.TestMapper">

    <select id="select" resultMap="tdkModelResultMap">
        select title,description, keywords , unique_code from tdk_meta where unique_code = #{uniqueCode}
    </select>


    <select id="selectAll" resultMap="tdkModelResultMap">
        select title,description, keywords, unique_code from tdk_meta
    </select>


    <insert id="insertOne" parameterType="com.ximalaya.webgroup.tdkservice.core.db.mybatis.TDKModel"
            useGeneratedKeys="true" keyProperty="element.id">
        insert into tdk_meta(
        unique_code,
        title,
        keywords,
        description
        ) values(
            #{element.uniqueCode},
            #{element.title222},
            #{element.keword},
            #{element.descccc}
        );
    </insert>

    <insert id="insertList" parameterType="java.util.List">
        insert into tdk_meta(
        unique_code,
        title,
        keywords,
        description
        ) values
        <foreach collection="list" item="element" open="(" separator="),(" close=")">
            #{element.uniqueCode},
            #{element.title222},
            #{element.keword},
            #{element.descccc}
        </foreach>
        on duplicate key update
        unique_code = values(unique_code),
        title = values(title),
        keywords = values(keywords),
        description = values(description)
    </insert>

    <resultMap id="tdkModelResultMap" type="com.ximalaya.webgroup.tdkservice.core.db.mybatis.TDKModel">
        <id property="id" column="id"/>
        <result property="descccc" column="description"/>
        <result property="title222" column="title"/>
        <result property="keword" column="keywords"/>
        <result property="uniqueCode" column="unique_code"/>
    </resultMap>


    <select id="selectEmployee" resultMap="employeeResultMap">
        select a.emp_no, a.last_name from employees as a
--         inner join salaries as b on a.emp_no = b.emp_no
        where a.emp_no = #{emp_no}
    </select>


    <resultMap id="employeeResultMap" type="com.ximalaya.webgroup.tdkservice.model.Employee">
        <result property="empNo" column="emp_no"/>
        <result property="lastName" column="last_name"/>
        <collection property="salaries"
                    select="com.ximalaya.webgroup.tdkservice.core.db.mybatis.mapper.TestMapper.selectSalary"
                    column="{emp_num= emp_no}" fetchType="lazy"
        />
    </resultMap>

    <resultMap id="salaryResultMap" type="com.ximalaya.webgroup.tdkservice.model.Salary">
        <result property="empNo" column="emp_no"/>
        <result property="salary" column="salary"/>
    </resultMap>

    <resultMap id="employeeResultMap2" type="com.ximalaya.webgroup.tdkservice.model.Employee">
        <result property="empNo" column="emp_no"/>
        <result property="lastName" column="last_name"/>
        <association property="salaries" resultMap="salaryResultMap"/>
    </resultMap>

    <select id="selectCurrentEmployee" resultMap="employeeResultMap2">
        select a.emp_no, a.last_name, b.salary from employees as a
        inner join salaries as b on a.emp_no = b.emp_no
        where a.emp_no = #{1}
        and b.to_date='9999-01-01'
    </select>

    <select id="selectSalary" resultMap="salaryResultMap">
        select emp_no, salary from salaries where emp_no=#{emp_num}
    </select>

</mapper>
